.footer-grid-container {
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.table {
    width: 100%;
    height: 174px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.round-content,
.email {
    font-size: 20px;
}

.round-content {
    height: 36px;
    background-size: 220px 40px;
    background-color: #B2E4F6;
    border-radius: 18px;
}