---
title: KSEA-Wisconsin | ABOUT
layout: default
---

<div class = "about">
  <div class = "greeting">
    <p id = "english">ABOUT US</p>
    <img class = "KSEA_group_image" src = "{{ site.baseurl }}/assets/KSEA_group_image.jpg">
    <p id = "description">KSEA-WISCONSIN is a nationally recognized branch of the Korean-American Scientists andEngineers Association (KSEA).<br>
        <br>
        We are a non-profit professional organization with the intent to promote the application of science and technology to the general welfare of society, foster international cooperation, in particular between the U.S. and Korea, and help Korean-American scientists and engineers develop their full career potentials.<br>
        <br>
        KSEA WISCONSIN is open to everybody and is not exclusive to scientists and engineers. Anyone who is interested in science & engineering, as well as any applied STEM fields, are welcome to join the group and sign up for the membership. New membership can be obtained @ HQ website through registration.<br>
      <br>
    </p>
  </div>
    <div class = "upcomming_events">
        <div class = "grid_wrapper">
          {% for item in site.data.events_events%}
            <div class = "event-wrapper"> 
                <div>
                    {% if item.event_name.size > 30 %}
                    <p class = "event_name">{{ item.event_name | truncatewords: 27 }}...</p>
                    {% else %}
                    <p class = "event_name">{{ item.event_name }}</p>
                    {% endif %}

                    <p class = "detail">Date: {{ item.date }}</p>
                    
                    {% if item.location.size > 30 %}
                    <p class = "detail">Location: {{ item.location | truncatewords: 27 }}...</p>
                    {% else %}
                    <p class = "detail">Location: {{ item.location }}</p>
                    {% endif %}
                </div>
                <div>
                    <a href = "{{ site.baseurl }}{{ item.detail_url }}" target="_blank" class="round-button">More Information</a>
                </div>
            </div>
          {% endfor %}
        </div>
      </div>
</div>