.title {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
}

.KSEAMark {
    width: 180px;
    height: 180px;
    margin: auto;
}

.element {
    font-weight: bold;
    font-size: 25px;
    margin: auto;
}