/* Style the navigation menu */
.topMobile {
    display: grid;
    grid-template-columns: 81px auto;
    background-color: white;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#myLinks {
    overflow: hidden;
    background-color: white;
    display: none;
    background-color: #B2E4F6;
}

/* Style navigation menu links */
#myLinks a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: block;
}

/* Style the hamburger menu */
/*
.mobile a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
*/

/* Add a grey background color on mouse-over */
#myLinks a:hover {
    background-color: #01C1F1;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: white;
    color: white;
    width: 81px;
    height: 81px;
}

.menu {
    background-color: #01C1F1;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 4px 2px;
    border-radius: 3px;
}