@import "normalize"; // Reset browser's default CSS Setting
// WebFonts and Alternatives
@import "NanumSquareR";
@import "Arial";

body {
  font-family: "NanumSquareRound", "Arial";
  color: #000000; // Default Text Color: Black

  .container {
    width: 1182px;
    max-width: 99%;
    margin: 5px auto;
    @media screen and (max-width: 1191px) {
      margin: 5px;
    }
  }
}

header {
  // For mobile site
  margin-bottom: 40px;
  @media screen and (min-width: 550px) {
    margin-bottom: 70px;
  }

  .desktop {
    display: none;
  }

  .topMobile {
    display: grid;
    grid-template-columns: 81px auto 84px;
    padding-bottom: 5px;
    @media screen and (min-width: 550px) {
      grid-template-columns: 140px auto 150px;
    }

    .KSEA_WI_logo {
      width: 81px;
      height: 81px;
      @media screen and (min-width: 550px) {
        width: 140px;
        height: 140px;
      }
    }

    .icon {
      display: block;
      width: 84px;
      text-align: center;
      padding-top: 27.5px;
      text-decoration: none;
      @media screen and (min-width: 550px) {
        width: 140px;
        padding-top: 48px;
      }
    }

    #menuButton {
      background-color: #B2E4F6;
      color: black;
      font-weight: 700;
      font-size: 16px;
      padding: 4px 2px;
      border: solid #01C1F1 1px;
      border-radius: 7.5px;
      margin: 0;
      @media screen and (min-width: 550px) {
        font-size: 24px;
      }

      &:hover {
        background-color: #01C1F1;
      }
    }
  }
  
  #navLinks {
    overflow: hidden;
    background-color: white;
    display: none; // hide by default
    background-color: #B2E4F6;

    a {
      color: black;
      padding: 7.5px 10px;
      text-decoration: none;
      font-size: 16px;
      font-weight: 700;
      display: block;
      @media screen and (min-width: 550px) {
        font-size: 24px;
        padding: 10px 15px;
      }

      &:hover {
        background-color: #01C1F1;
      }

      &.current {
        background-color: #01C1F1;
      }
    }
  }

  // For desktop site
  @media screen and (min-width: 900px) {
    margin-bottom: 70px;
    
    .mobile {
      display: none;
    }

    .desktop {
    display: grid;
    grid-template-columns: 180px auto;

      .KSEA_WI_logo {
        width: 180px;
        height: 180px;
      }

      .navigator {
        text-align: right;
        margin-top: 75px;

        a {
          font-weight: 700;
          font-size: 30px;
          margin-left: 30px;
          color: #000000;
          text-decoration: none;

          &.current {
            text-decoration: underline;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

footer {
  // for Mobile Footer
  margin-top: 65px;
  margin-bottom: 20px;
  text-align: center;

  .desktop {
    display: none;
  }

  .mobile {
    .footer-title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 5px;
      @media screen and (min-width: 550px) {
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 30px;
      }
    }
  
    .email {
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 20px;
      @media screen and (min-width: 550px) {
        font-size: 20px;
        margin-top: 0px;
      }
    }
  
    .footer-grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      height: 25px;
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 20px;
      @media screen and (min-width: 550px) {
        font-size: 20px;
        height: 38px;
      }
  
      .round-button {
        text-align: center;
        line-height: 25px;
        font-weight: 700;
        margin: auto;
        width: 139px;
        height: 25px;
        background-color: #B2E4F6;
        border-radius: 13px;
        color: #000000;
        text-decoration: none;
        @media screen and (min-width: 550px) {
          line-height: 38px;
          width: 230px;
          height: 38px;
          border-radius: 18px;
        }
      }
    }

    .copyright {
      p {
        margin-top: 6px;
        margin-bottom: 6px;
      }
      padding-top: 5px;
      font-weight: 700;
      text-align: center;
      @media screen and (min-width: 550px) {
        font-size: 13px;
      }
      font-size: 10px;
    }
  }

  // for Desktop Footer
  @media screen and (min-width: 720px) {
    margin-top: 60px;
    margin-bottom: 30px;

    .mobile {
      display: none;
    }

    .desktop {
      display: block;

      .footer-grid-container {
        display: grid;
        grid-template-rows: 33% 33% 33%;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        width: 100%;
        height: 174px;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
  
        .footer-title {
          margin-bottom: 0px;
          margin-top: 0px;
          line-height: 57.42px;
        }
  
        .round-button, .email {
          font-size: 20px;
        }
  
        .email {
          margin-bottom: 0px;
          margin-top: 0px;
          grid-row: 2 / 4;
          line-height: 114.84px;
        }
        
        .round-button {
          text-align: center;
          line-height: 38px;
          font-weight: 700;
          margin: auto;
          width: 230px;
          height: 38px;
          background-color: #B2E4F6;
          border-radius: 18px;
          color: #000000;
          text-decoration: none;
        }
      }
  
      .copyright {
        display: block;
        p {
          margin-top: 7px;
          margin-bottom: 7px;
        }
        font-weight: 700;
        text-align: center;
        @media screen and (min-width: 720px) {
          font-size: 13px;
        }
        @media screen and (min-width: 800px) {
          font-size: 16px;
        }
      }
    }
  }
}
.home {
  font-weight: 700;

  a {
    color: #000000;
    text-decoration: none;
  }

  .greeting {
    text-align: center;

    #english {
      font-size: 7vw;
      @media screen and (min-width: 1142px){
        font-size: 80px;
      }
      margin-bottom: 20px;
      margin-top: 0px;
    }

    #korean {
      font-size: 5.5vw;
      @media screen and (min-width: 1142px){
        font-size: 60px;
      }
      margin-bottom: 70px;
      margin-top: 0px;
    }

    #description {
      font-size: 2.5vw;
      line-height: 3vw;
      @media screen and (min-width: 1142px){
        font-size: 28px;
        line-height: 35px;
      }
      margin-bottom: 70px;
      margin-top: 0px;
    }
  }

  .upcomming_events {
    #title {
      text-align: left;
      font-size: 40px;
      margin-bottom: 20px;
      margin-top: 0px;
    }

    .grid_wrapper {
      display: grid;
      grid-template-columns: 50% 50%;
      column-gap: 18px;
      row-gap: 22px;
      
      .event-wrapper {
        height: 300px;
        background-color: #B2E4F6;

        .event_name {
          margin-top: 25px;
          margin-bottom: 20px;
          text-align: center;
          font-size: 30px;
        }

        .detail {
          margin-left: 20px;
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 25px;
        }
      }
    }

    #more_event {
      text-align: center;
      font-size: 30px;
    }
  }
}
  
.news_and_events {
  //for Desktop NEWS & EVENTS
  font-weight: 700;

  a {
    color: #000000;
    text-decoration: none;
  }

  .greeting {
    text-align: center;

    #english {
      @media screen and (min-width: 1142px){
        font-size: 60px;
      }
      margin-bottom: 24px;
      margin-top: 61px;
    }

    #description {
      @media screen and (min-width: 1142px){
        font-size: 28px;
        line-height: 37px;
      }
      margin-bottom: 75px;
      margin-top: 0px;
    }
  }

  .upcomming_events {

    .grid_wrapper {
      display: grid;
      grid-template-columns: 50% 50%;
      column-gap: 18px;
      row-gap: 22px;
      
      .event-wrapper {
        height: 244px;
        background-color: #B2E4F6;

        .event_name {
          margin-top: 25px;
          margin-bottom: 20px;
          text-align: left;
          font-size: 30px;
        }

        .detail {
          margin-left: 20px;
          margin-top: 10px;
          margin-bottom: 30px;
          text-align: left;
          font-size: 25px;
        }

        .round-button {
          text-align: left;
          font-size: 20px;
          margin-top: 30px;
          margin-bottom: 29px;
          margin-left: 182px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 26px;
          padding-right: 24px;
          width: 218px;
          height: 36px;
          background-color: #ffffff;
          border-radius: 18px;
          color: #000000;
        }
      }
    }

    #more_event {
      text-align: center;
      font-size: 30px;
    }
  }
}

.about {
  //for about
  font-weight: 700;

  .KSEA_group_image {
    width: 1182px;
    margin-bottom: 70px;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }


    #main {
      text-align: center;
      @media screen and (min-width: 1142px){
        font-size: 60px;
      }
      margin-bottom: 10px;
      margin-top: 61px;
    }

    #sub {
      text-align: left;
      @media screen and (min-width: 1142px){
        font-size: 40px;
      }
      margin-top: 11px;
    }

    #description {
      text-align: left;
      @media screen and (min-width: 1142px){
        font-size: 28px;
        line-height: 37px;
      }
      margin-bottom: 75px;
      margin-top: 0px;
    }

  .namebox {

    .grid_wrapper {
      display: grid;
      grid-template-columns: 50% 50%;
      column-gap: 18px;
      row-gap: 22px;
      
      .event-wrapper {
        height: 220px;
        background-color: #B2E4F6;
        display: grid;
        
        .person_image {
          width: 200px;
          border-radius: 100px;
          margin-left: 10px;
          margin-top: 10px;
          position: absolute;
        }

        .person_name {
          margin-left: 230px;
          margin-top: 64px;
          text-align: left;
          font-size: 30px;
        }

        .standing {
          margin-left: 230px;
          margin-top: 9px;
          text-align: left;
          font-size: 25px;
        }
        
        .personal_url {
          margin-left: 230px;
          margin-top: 2px;
          text-align: left;
          font-size: 16px;
        }
      }
    }
  }
}
