@import "normalize";
@import "NanumSquareR";

body {
  font-family: "NanumSquareRound";
  color: #000000; // Default Text Color: Black

  .container {
    width: 1182px;
    max-width: 100%;
    margin: 5px auto;
  }
}

header {
  // For mobile site
  .desktop {
    display: none;
  }

  // For desktop site
  @media screen and (min-width: 900px) {
    margin-bottom: 70px;
    
    .mobile {
      display: none;
    }

    .desktop {
    display: grid;
    grid-template-columns: 180px auto;

      .KSEA_WI_logo {
        width: 180px;
        height: 180px;
      }

      .navigator {
        text-align: right;
        margin-top: 75px;

        a {
          font-weight: 700;
          font-size: 30px;
          margin-left: 30px;
          color: #000000;
          text-decoration: none;

          &.current {
            text-decoration: underline;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}