.footer-grid-container {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 100%;
    height: 174px;
    font-size: 30px;
    font-weight: bold;
}

.round-content,
.email {
    font-size: 20px;
}

.email {
    grid-row: 2 / 4;
}
.round-content {
    text-align: center;
    line-height: 35px;
    font-weight: bold;
    margin: auto;
    width: 218px;
    height: 36px;
    background-color: #B2E4F6;
    border-radius: 18px;
}

.bottom-paragraph {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}